In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('data_set\Tony_data\MBTImerged.tsv',encoding='UTF-8', sep='\t')

In [4]:
df.head(5)

                                                text  mbti ie ns ft pj
0                                       안녕하세요 어서오세요   entp  e  n  t  p
1                                                /환영  entp  e  n  t  p
2                                           공지 읽어주세용  entp  e  n  t  p
3  반갑습니다. 94년생 인팁입니다 --------------- 2024년 1월 11일...  intp  i  n  t  p
4                                              어서오세요  infj  i  n  f  j

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163204 entries, 0 to 163203
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    163204 non-null  object
 1   mbti    163204 non-null  object
 2   ie      163204 non-null  object
 3   ns      163204 non-null  object
 4   ft      163204 non-null  object
 5   pj      163204 non-null  object
dtypes: object(6)
memory usage: 7.5+ MB

In [33]:
df['text'].value_counts()

text
ㅋㅋㅋㅋㅋㅋ                                                                                                                                                                                                               205
?                                                                                                                                                                                                                    188
네                                                                                                                                                                                                                    179
ㅋㅋㅋ                                                                                                                                                                                                                  174
ㅋㅋㅋㅋㅋㅋㅋ                                                                                                                                                                                                              172
                                                                                                                                                                                                                    ...
또 마음속에서 교만인지 괜스레 마음속에서 난 뭘 해도 잘할 거라는 생각이 드니 선택하기 더 어려워지고 정맬루 복잡 복잡한 나날들을 보내고 있습니다.  지금 진로 정하는 가운데 갑자기 다른 enfp분들은 어떤 직업을 가지고 계신지 너무 궁금해졌습니다. 괜찮으시다면 직업과, 그 직업이 잘 맞는 것 같은 지 말씀해 주시면 너무너무 감사할 것 같아요 ㅠㅠ!!!!!!!!!!!!!       1
워낙 사람이면 꼬리 흔들고 좋아하는 댕댕이라서 잘해주고 치대고 아쉬워하는 게 내가 좋아하는 지인 중 하나고 편해서 그런 거라고 생각은 하면서도 한편으로는 나 좋아하나?  기대 심리를 0퍼로 유지하기가 너무 힘들어 이성적으론 얜 아니야라고 생각하면서도 자꾸 치대니까 고맙기도 하고 왜 나한테 그럴까 생각하게 됨ㅋ/ㅋ                                        1
enfp와 entp가 큰 차이점이 있나요? 도 통 왜 바뀌었는지 정확한 이유를 잘 모르겠네요..  흠..                                                                                                                                                             1
어디까지나 너의 생각이고 그게 정답은 아니야라는 의미를 담은 말을 들으신다면 어떤 느낌이 실 것 같나요?                                                                                                                                                             1
사랑한단 말을 쉽게 하는 편인가요?  표현을 잘 하는 편이신가요?                                                                                                                                                                                   1
Name: count, Length: 155172, dtype: int64

In [73]:
df1=df

In [74]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163204 entries, 0 to 163203
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    163204 non-null  object
 1   mbti    163204 non-null  object
 2   ie      163204 non-null  object
 3   ns      163204 non-null  object
 4   ft      163204 non-null  object
 5   pj      163204 non-null  object
dtypes: object(6)
memory usage: 7.5+ MB

In [7]:
df['text'].str.len().value_counts()

text
9      3508
11     3439
8      3430
10     3418
6      3356
       ...
420       1
571       1
426       1
413       1
493       1
Name: count, Length: 476, dtype: int64

In [8]:
df1=df['mbti']=="enfj"
df2=df['mbti']=="enfp"
df3=df['mbti']=="entj"
df4=df['mbti']=="entp"
df5=df['mbti']=="esfj"
df6=df['mbti']=="esfp"
df7=df['mbti']=="estj"
df8=df['mbti']=="estp"
df9=df['mbti']=="infj"
df10=df['mbti']=="infp"
df11=df['mbti']=="intj"
df12=df['mbti']=="intp"
df13=df['mbti']=="isfj"
df14=df['mbti']=="isfp"
df15=df['mbti']=="istj"
df16=df['mbti']=="istp"

In [9]:
df_enfj=df[df1]
df_enfp=df[df2]
df_entj=df[df3]
df_entp=df[df4]
df_esfj=df[df5]
df_esfp=df[df6]
df_estj=df[df7]
df_estp=df[df8]
df_infj=df[df9]
df_infp=df[df10]
df_intj=df[df11]
df_intp=df[df12]
df_isfj=df[df13]
df_isfp=df[df14]
df_istj=df[df15]
df_istp=df[df16]

In [10]:
df_enfj.head(5)

                   text  mbti ie ns ft pj
27                    오  enfj  e  n  f  j
28                 잘보세욯  enfj  e  n  f  j
39                   오오  enfj  e  n  f  j
40  근데 진짜 화방에서 일할거 같애요ㄹ  enfj  e  n  f  j
41                  착장이  enfj  e  n  f  j

In [20]:
df_enfj['text'].count(),df_enfp['text'].count(),df_entj['text'].count(),df_entp['text'].count(),df_esfj['text'].count(),df_esfp['text'].count(),df_estj['text'].count(),df_estp['text'].count()

(6138, 12667, 9105, 15622, 2586, 4298, 5846, 6918)

In [19]:
df_infj['text'].count(),df_infp['text'].count(),df_intj['text'].count(),df_intp['text'].count(),df_isfj['text'].count(),df_isfp['text'].count(),df_istj['text'].count(),df_istp['text'].count()

(12804, 17927, 14914, 15390, 7725, 10821, 7784, 12659)

In [45]:
df_i=df['ie']=='i'
df_e=df['ie']=='e'
df_n=df['ns']=='n'
df_s=df['ns']=='s'
df_f=df['ft']=='f'
df_t=df['ft']=='t'
df_p=df['pj']=='p'
df_j=df['pj']=='j'

In [46]:
df_i=df[df_i]
df_e=df[df_e]
df_n=df[df_n]
df_s=df[df_s]
df_f=df[df_f]
df_t=df[df_t]
df_p=df[df_p]
df_j=df[df_j]

In [31]:
df_i['text'].count(),df_e['text'].count(),df_n['text'].count(),df_s['text'].count()

(100024, 63180, 104567, 58637)

In [32]:
df_f['text'].count(),df_t['text'].count(),df_p['text'].count(),df_j['text'].count()

(74966, 88238, 96302, 66902)

In [40]:
df_1=df[df['text'].str.len()>10]
df_1=df_1[df_1['text'].str.len()<400]

In [41]:
df_1['text'].count()

133072

In [52]:
df_11=df_1['mbti']=="enfj"
df_12=df_1['mbti']=="enfp"
df_13=df_1['mbti']=="entj"
df_14=df_1['mbti']=="entp"
df_15=df_1['mbti']=="esfj"
df_16=df_1['mbti']=="esfp"
df_17=df_1['mbti']=="estj"
df_18=df_1['mbti']=="estp"
df_19=df_1['mbti']=="infj"
df_110=df_1['mbti']=="infp"
df_111=df_1['mbti']=="intj"
df_112=df_1['mbti']=="intp"
df_113=df_1['mbti']=="isfj"
df_114=df_1['mbti']=="isfp"
df_115=df_1['mbti']=="istj"
df_116=df_1['mbti']=="istp"

In [53]:
df_1enfj=df_1[df_11]
df_1enfp=df_1[df_12]
df_1entj=df_1[df_13]
df_1entp=df_1[df_14]
df_1esfj=df_1[df_15]
df_1esfp=df_1[df_16]
df_1estj=df_1[df_17]
df_1estp=df_1[df_18]
df_1infj=df_1[df_19]
df_1infp=df_1[df_110]
df_1intj=df_1[df_111]
df_1intp=df_1[df_112]
df_1isfj=df_1[df_113]
df_1isfp=df_1[df_114]
df_1istj=df_1[df_115]
df_1istp=df_1[df_116]

In [54]:
df_1enfj['text'].count(),df_1enfp['text'].count(),df_1entj['text'].count(),df_1entp['text'].count()

(5329, 10186, 7137, 13421)

In [55]:
df_1esfj['text'].count(),df_1esfp['text'].count(),df_1estj['text'].count(),df_1estp['text'].count()

(2331, 3068, 3808, 4448)

In [56]:
df_1infj['text'].count(),df_1infp['text'].count(),df_1intj['text'].count(),df_1intp['text'].count()

(11419, 16843, 12630, 12211)

In [57]:
df_1isfj['text'].count(),df_1isfp['text'].count(),df_1istj['text'].count(),df_1istp['text'].count()

(6538, 8604, 5804, 9295)

In [44]:
df_1i=df_1['ie']=='i'
df_1e=df_1['ie']=='e'
df_1n=df_1['ns']=='n'
df_1s=df_1['ns']=='s'
df_1f=df_1['ft']=='f'
df_1t=df_1['ft']=='t'
df_1p=df_1['pj']=='p'
df_1j=df_1['pj']=='j'

In [49]:
df_1i=df_1[df_1i]
df_1e=df_1[df_1e]
df_1n=df_1[df_1n]
df_1s=df_1[df_1s]
df_1f=df_1[df_1f]
df_1t=df_1[df_1t]
df_1p=df_1[df_1p]
df_1j=df_1[df_1j]

In [50]:
df_1i['text'].count(),df_1e['text'].count(),df_1n['text'].count(),df_1s['text'].count()

(83344, 49728, 89176, 43896)

In [51]:
df_1f['text'].count(),df_1t['text'].count(),df_1p['text'].count(),df_1j['text'].count()

(64318, 68754, 78076, 54996)

In [58]:
df_d=df[~df['text'].str.contains('enfj|enfp|entj|entp|esfj|esfp|estj|estp|infj|infp|intj|intp|isfj|isfp|istj|istp')]

In [59]:
df_d['text'].count()

146575

In [72]:
df_d['text'].value_counts()

text
ㅋㅋㅋㅋㅋㅋ                                                                                                                                                                                                                                                  205
?                                                                                                                                                                                                                                                       188
네                                                                                                                                                                                                                                                       179
ㅋㅋㅋ                                                                                                                                                                                                                                                     174
ㅋㅋㅋㅋㅋㅋㅋ                                                                                                                                                                                                                                                 172
                                                                                                                                                                                                                                                       ...
마음 가는 대로 사려면 어느 정도 나머지는 잘 살아야 가능한 거라서 그만큼은 한다고 생각해요.  뭐, 그렇습니다. 여러분들은 비슷한 경험 있으신지 궁금했어요.                                                                                                                                                                  1
좋아하는 사람(연인이든 친구든) 이 집 앞으로 찾아와서 같이 있자고 하면 어떨 것 같나요? (전 너무 로맨틱해서 좋을 거 같은데) ( 아..  근데 동굴에 들어가는 상황이 다 달라서 다를 수도 있겠다..)                                                                                                                                        1
국민가요?  우왕 우왕 우황청심환 자가 진단 안 하면 키 자가 진단(작아진다) 공사한 당을 줄이면?  공산당 ㅋㅋ포항항??(???*)ㅋㅋ포항항항포핳핳항???포항항??(???*)ㅋㅋ포항항항포항항??(???*)????포항항?포항항??(???*)ㅋㅋ포항항항포핳핳항???포항항??(???*)ㅋㅋ포항항항포항항??(???*)????포항항?포항항??(???*)ㅋㅋ포항항항포핳핳항???포항항??(???*)ㅋㅋ포항항항포항항??(???*)????포항항?       1
모르는 말이 있으면 삐대고 뻣뻣 대기보다, 사전이라도 최소한 찾아보려고 하고, 그러는 게 편한데 말이에요.  정말 편한 게 뭔지 모르나 봅니다. 답답했어요.                                                                                                                                                                   1
사랑한단 말을 쉽게 하는 편인가요?  표현을 잘 하는 편이신가요?                                                                                                                                                                                                                      1
Name: count, Length: 138664, dtype: int64

In [67]:
df_null=df_d['text']==' '

In [68]:
df_null=df_d[df_null]

In [70]:
df_null.value_counts()

text  mbti  ie  ns  ft  pj
      estp  e   s   t   p     3
      intp  i   n   t   p     3
      enfp  e   n   f   p     2
      isfj  i   s   f   j     2
      enfj  e   n   f   j     1
      entj  e   n   t   j     1
      entp  e   n   t   p     1
      infj  i   n   f   j     1
      infp  i   n   f   p     1
      intj  i   n   t   j     1
      isfp  i   s   f   p     1
      istj  i   s   t   j     1
      istp  i   s   t   p     1
Name: count, dtype: int64